html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
  }
  
  .footer {
	background-color: #222;
	color : white;
	padding: 15px;
	width: 100%;
	margin: 0;
	text-align: center;
	position:absolute;
	bottom:0;
	margin: 0 auto;
}
  .wapper{
	width: 940px;
	margin: auto;
  }
  
  .row{
	ovweflow: hidden;
	font-size: 30px;
  }
  .banner {
	padding-top: 400px;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 70px;
	font-family: sans-serif;
	text-align: center;
	background: url(thai2.jpg);
	width: 100%;
	color: white;
  }
body{
	margin: 0;
	padding: 0;
	background: #ccc;
	font-family: Quark;
}

.nav ul{
	list-style: none;
	background-color: #222;
	padding: 0;
	margin: 0;
	text-align: left;

}

.nav li{
	font-size: 1.2em;
	line-height: 40px;
	text-align: left;
}

.nav a{
	text-decoration: none;
	color: #fff;
	display: block;
	padding-left: 15px;
	border-bottom: 1px solid #888;
	transition: .3s;
	position:absolute;

}

.nav a:hover{
	background-color: #3077fb;
}

.nav li li {
	font-size: .8em;
}

@media screen and (min-width: 650px){
	.nav li{
		width: 130px;
		border-bottom: none;
		height: 50px;
		line-height: 50px;
		font-size: 1.4em;
		display: inline-block;
		margin-right: -4px;

	}

	.nav a{
		border-bottom: none;
	}

	.nav > ul > li {
		text-align: center;
	}

	.nav > ul > li > a {
		padding-left: 0;
	}

	.nav li ul{
		position: absolute;
		display: none;
		width: inherit;
	}

	.nav li:hover ul {
		display: block;
	}

	.nav li ul li {
		display: block;
	}
}
